@extends('layouts.master')
@section('title',' | Blog')
@section('content')
<div class="row">
	<div class="col-md-12">
		<h1>Blog</h1>
	</div>
</div>
<div class="row">
	<div class="col-md-8 col-md-offset-2">
		<h2></h2>
		<h5></h5>
		<p></p>
	</div>
</div>
@endsection